---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="About">
	<p class="text-sm text-skin-base" set:html={summary.replace(/\*\*(.*?)\*\*/g, '<b>$1</b>')}>
	</p>
</Section>
