---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="About">
	<p>
		<strong>per modificare qui in grassetto devo toccare diretto il file about.astro</strong>
		{summary}
		
	</p>
</Section>
